html{
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    height: calc(100% - 16px);
}
.header{
    width: 100%;
    display: flex;
    justify-content: end;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    border-radius: 55%;
    border: 2px solid;
}

h1 {
    margin-bottom: 2px;
}

.switch {
    position: absolute;
    right: 15px;
    width: 40px;
}

.switch:hover {
    cursor: pointer;
}

.bio {
    margin-top: 2px;
    display: flex;
    justify-content: center;
}

footer {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer hr {
    width: 95%;
    background-color: white;
}

a {
    text-decoration: none;
    display: flex;
}

sub:not(sub[id="lukaku"]){
    text-decoration: underline;
}

ul {
    display: grid;
    grid-template-columns: max-content;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    
}

.social {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

.material-symbols-outlined {
    user-select: none;
    cursor: pointer;
    font-size: 44px;
    margin-right: 7px;
}

#sun, #moon{
    transform: scale(1) rotate(0);
    transition: transform 150ms;
}

#sun:hover, #moon:hover{
    transform: scale(1.1) rotate(22deg);

}


